.Animal img{
    height: 300px;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:transparent;
    color: black;
    text-align: center;
}

.footer a{
    font-size: 12px;
    color:#928ddb;
}

