
.front-container-right{
    width: 450px;
    height: 600px;
    margin: -60px 450px;
    text-align: left;
    background: #ffa7a7;
    /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); */
    border-radius: 5px;
    position: absolute;
    
    transition: all 0.5s ease;
}

.front-container-left{
    width: 450px;
    height: 600px;
    margin: -60px 100px;
    text-align: left;
    background: #ffa7a7;
    /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); */
    border-radius: 5px;
    position: absolute;
    
    transition: all 0.5s ease;
}


.back-content-left {
    /* background: linear-gradient(
      90deg,
      rgb(166, 136, 179) 0%,
      rgb(237, 191, 255) 100%
    ); */
    border-radius: 10px 0 0 10px;
    position: relative;
  }
  
  
.back-content-right {
    border-radius: 0 10px 10px 0;
    position: relative;
    /* background: linear-gradient(90deg, 
    rgb(237, 191, 255) 0%,
    rgb(166, 136, 179) 100%
    ); */
}

.back-container {
    width:  1000px;
    height: 480px;
    margin-top: 100px;
    background: #a5abe5;
    /* box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2); */
    position: relative;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-text{
      color:#fff;
      padding-bottom: 20px;
  }
  
  .back-btn{
    width: 25%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    border-color: #fff;
    border-width: 2px;
    background: transparent;
    outline: none;
    border-style: solid;
    color: #fff;
    font-size: 1rem;
  }