.App {
  text-align: center;
}
.App h3 {
  font-size: 40px;
  padding-top: 40px;
  text-align: left;
  margin-left: 460px;
}
.App p {
  text-align: left;
  margin-left: 490px;
  padding-left: 0;
}

body {
  margin: 0;
  padding: 0;
}
.myCalendar {
  width: 35em !important;
  height: 38em !important;
  border: solid black;
  border-style: groove;
  position: fixed;
  left: 22%;
}

.myCalendar .Calendarsection {
  padding: 0 3em;
  font-size: 10px;
}

.myCalendar .CalendarweekDays {
  padding: 0 2em;
  font-size: 15px;
}

.Sidebar {
  height: 90%;
  width: 10%;
  background-color: rgb(152, 202, 185);
  position: absolute;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Sidebar h1 {
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: #f3ffa6;
  background-color: mediumaquamarine;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.SidebarList {
  height: auto;
  font-size: small;
  padding: 1rem 1rem;
  width: 90%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
}

.SidebarList .row {
  width: 90%;
  height: 50px;
  list-style-type: none;
  margin: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
  color: white;
  align-items: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App-link {
  color: #61dafb;
}

.SidebarList .row:hover {
  cursor: pointer;
  color: yellow;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.row #icon {
  flex: 20%;
  display: grid;
  place-items: left;
}

.row #title {
  flex: 60%;
}
